@model ChurchEditModel


<form method="post" asp-controller="ChurchManager" asp-action="Edit" asp-route-id="@Model.Id">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" value="@Model.Id" asp-for="Id" />
    <div class="mb-3 text-start">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3 text-start">
        <label asp-for="DenominationId" class="control-label"></label>
        <select asp-for="DenominationId" class="form-select">
            @foreach (var denomination in (IEnumerable<Denomination>)ViewBag.Denominations)  
            {
                @if (denomination.Id == Model.DenominationId)
                {
                    <option selected value="@denomination.Id">@denomination.Name (@denomination.Branch.GetEnumDescription())</option>
                }
                else
                {
                    <option value="@denomination.Id">@denomination.Name (@denomination.Branch.GetEnumDescription())</option>
                }
            }
        </select>
    </div>
    <button class="btn btn-primary w-100 mb-3">Update</button>
</form>


