@model Event

@{
    ViewData["Title"] = "Events";
}

@section Stylesheets {
<!-- <link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet"> -->
}

<div class="content mb-5">
    <div class="card">
        <div class="card-header border-bottom-0 pb-0">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div>
                        <h4 class="card-title mb-0"> 
                            Belief
                        </h4>
                    </div>
                </div>
                <div class="">
                    <a class="btn btn-sm btn-phoenix-primary" role="button" asp-controller="Churches" asp-action="Events" asp-route-id="@(User.FindFirst("ChurchId")!.Value)">
                        <span class="fas fa-compass"></span> Events
                    </a>
                </div>
            </div>
        </div>
        <div id="new-event" class="card-body">
            <form method="post" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Details" class="control-label"></label>
                    <textarea asp-for="Details" class="form-control"></textarea>
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="StartTime" class="control-label"></label>
                    <input asp-for="StartTime" class="form-control" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="EndTime" class="control-label"></label>
                    <input asp-for="EndTime" class="form-control" />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsFree" /> @Html.DisplayNameFor(model => model.IsFree)
                    </label>
                </div>
                <div class="mb-3">
                    <label asp-for="Category" class="control-label"></label>
                    <select asp-for="Category" class="form-select">
                        <option value="@EventCategory.CommunityService">@EventCategory.CommunityService.GetEnumDescription()</option>
                        <option value="@EventCategory.Celebration">@EventCategory.Celebration.GetEnumDescription()</option>
                        <option value="@EventCategory.Entertainment">@EventCategory.Entertainment.GetEnumDescription()</option>
                        <option value="@EventCategory.FoodBeverage">@EventCategory.FoodBeverage.GetEnumDescription()</option>
                        <option value="@EventCategory.Meetup">@EventCategory.Meetup.GetEnumDescription()</option>
                        <option value="@EventCategory.Trip">@EventCategory.Trip.GetEnumDescription()</option>
                    </select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>   

    <partial name="_Footer" />
</div>

@section VendorScripts {
<!-- <script src="~/vendors/echarts/echarts.min.js"></script> -->
}

@section CustomScripts {
<!-- <script src="~/assets/js/project-details.js"></script> -->
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
    });
</script>
}
