<<<<<<<< HEAD:TempleCMS.Web/Views/Clubs/Index.cshtml
@model IEnumerable<TempleCMS.Web.Domain.Club>
========
@model IEnumerable<TempleCMS.Web.Domain.Event>
>>>>>>>> parent of 5530561 (massive changes):TempleCMS.Web/Views/Events/Index.cshtml

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
<<<<<<<< HEAD:TempleCMS.Web/Views/Clubs/Index.cshtml
                @Html.DisplayNameFor(model => model.Guidelines)
========
                @Html.DisplayNameFor(model => model.StartTime)
>>>>>>>> parent of 5530561 (massive changes):TempleCMS.Web/Views/Events/Index.cshtml
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Church)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
<<<<<<<< HEAD:TempleCMS.Web/Views/Clubs/Index.cshtml
                @Html.DisplayFor(modelItem => item.Guidelines)
========
                @Html.DisplayFor(modelItem => item.StartTime)
>>>>>>>> parent of 5530561 (massive changes):TempleCMS.Web/Views/Events/Index.cshtml
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Church.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
