<<<<<<<< HEAD:TempleCMS.Web/Views/Shared/Components/ClubMemberTable/Default.cshtml
@model IEnumerable<ClubMember>
========
@model IEnumerable<ChurchMember>
>>>>>>>> parent of 5530561 (massive changes):TempleCMS.Web/Views/Shared/Components/ChurchMemberTable/Default.cshtml

<div id="members" data-list='{"valueNames":["member","email","joined"],"page":10,"pagination":true}'>
    <div class="row align-items-center justify-content-between g-3 mb-4">
        <div class="col col-auto">
            <div class="search-box">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                    <input class="form-control search-input search" type="search" placeholder="Search members" aria-label="Search" />
                    <span class="fas fa-search search-box-icon"></span>
                </form>
            </div>
        </div>
        <div class="col-auto">
            <div class="d-flex align-items-center">
                <button class="btn btn-link text-900 me-4 px-0">
                    <span class="fa-solid fa-file-export fs--1 me-2"></span>Export
                </button>
                <button class="btn btn-primary">
                    <span class="fas fa-plus me-2"></span>Add member
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive scrollbar ms-n1 ps-1">
                        <table class="table table-sm fs--1 mb-0">
                            <thead>
                                <tr>
                                    <th class="white-space-nowrap fs--1 align-middle ps-0">
                                        <div class="form-check mb-0 fs-0">
                                            <input class="form-check-input" id="checkbox-bulk-members-select" type="checkbox" data-bulk-select='{"body":"members-table-body"}' />
                                        </div>
                                    </th>
                                    <th class="sort align-middle" scope="col" data-sort="member">
                                        MEMBER
                                    </th>
                                    <th class="sort align-middle" scope="col" data-sort="email">EMAIL</th>
                                    <th class="sort align-middle text-end pe-0" scope="col" data-sort="joined">JOINED</th>
                                </tr>
                            </thead>
                            <tbody class="list" id="members-table-body">
                                @foreach(var item in Model)
                                {
                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                        <td class="fs--1 align-middle ps-0 py-3">
                                            <div class="form-check mb-0 fs-0">
                                                <input class="form-check-input" type="checkbox" data-bulk-select-row='{"member":{"avatar":"/media/members/@(item.User!.Image)","name":@(item.User.FullName)},"email":"@(item.User.Email)","joined":@(item.Created.ToString("MMM dd, yyyy hh:mm tt"))}' />
                                            </div>
                                        </td>
                                        <td class="member align-middle white-space-nowrap">
                                            <a class="d-flex align-items-center text-900 text-hover-1000" href="#!">
                                                <div class="avatar avatar-m">
                                                    <img class="rounded-circle" src="~/media/members/@(item.User!.Image)" alt="" />
                                                </div>
                                                <h6 class="mb-0 ms-3 fw-semi-bold">@(item.User.FullName)</h6>
                                            </a>
                                        </td>
                                        <td class="email align-middle white-space-nowrap">
                                            <a class="fw-semi-bold" href="@(item.User.Email)">
                                                @(item.User.Email)
                                            </a>
                                        </td>
                                        <td class="joined align-middle white-space-nowrap text-700 text-end">
                                            @(item.Created.ToString("MMM dd, yyyy hh:mm tt"))
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center justify-content-between pe-0 fs--1">
                        <div class="col-auto d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p>
                            <a class="fw-semi-bold" href="#!" data-list-view="*">View all
                                <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span>
                            </a>
                            <a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less
                                <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span>
                            </a>
                        </div>
                        <div class="col-auto d-flex">
                            <button class="page-link" data-list-pagination="prev">
                                <span class="fas fa-chevron-left"></span>
                            </button>
                            <ul class="mb-0 pagination"></ul>
                            <button class="page-link pe-0" data-list-pagination="next">
                                <span class="fas fa-chevron-right"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>