@model Service

<div class="row">
    <div class="col-12">
        <form class="row g-3" method="post" asp-controller="Services" asp-action="Create">
            <div class="col-md-11">
                <select id="Type" name="Type" class="form-select mb-3">
                    <option value="-1" selected>Select service</option>
                    <option value="@ServiceType.AnointingOfTheSick">
                        @ServiceType.AnointingOfTheSick.GetEnumDescription()
                    </option>
                    <option value="@ServiceType.Christening">
                        @ServiceType.Christening.GetEnumDescription()
                    </option>
                    <option value="@ServiceType.Counseling">
                        @ServiceType.Counseling.GetEnumDescription()
                    </option>
                    <option value="@ServiceType.Funeral">
                        @ServiceType.Funeral.GetEnumDescription()
                    </option>
                    <option value="@ServiceType.Marriage">
                        @ServiceType.Marriage.GetEnumDescription()
                    </option>
                    <option value="@ServiceType.Reconciliation">
                        @ServiceType.Reconciliation.GetEnumDescription()
                    </option>
                </select>
                <input type="hidden" asp-for="ChurchId" />
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </form>
    </div>
</div>