@model Club

<ul class="nav nav-underline deal-details scrollbar flex-nowrap w-100 pb-1 mb-3" id="myTab" role="tablist" style="overflow-y: hidden;">
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link @Html.ActiveClass("ClubManager", "Index")" id="1-tab" asp-controller="ClubManager" asp-action="Index" asp-route-id="@Model.Id" role="tab" aria-controls="tab-1"> 
            Club
        </a>
    </li>
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link @Html.ActiveClass("ClubManager", "Image")" id="2-tab" asp-controller="ClubManager" asp-action="Image" asp-route-id="@Model.Id" role="tab" aria-controls="tab-2"> 
            Image
        </a>
    </li>
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link @Html.ActiveClass("ClubManager", "About")" id="3-tab" asp-controller="ClubManager" asp-action="About" asp-route-id="@Model.Id" role="tab" aria-controls="tab-3"> 
            About
        </a>
    </li>
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link @Html.ActiveClass("ClubManager", "Guidelines")" id="5-tab" asp-controller="ClubManager" asp-action="Guidelines" asp-route-id="@Model.Id" role="tab" aria-controls="tab-5"> 
            Guidelines
        </a>
    </li>
</ul>